<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
	<mapper namespace="kr.co.dw.reply">
	
	<delete id="deleteByBno">
		DELETE FROM tbl_reply WHERE bno = #{bno}
	
	</delete>
	
	
	<update id="update">
		UPDATE tbl_reply  SET replyer = #{replyer}, replyText = #{replyText}
		WHERE rno = #{rno}
	
	</update>
	
	
	
	
	<delete id="delete">
		DELETE FROM tbl_reply WHERE rno = #{rno}
	
	
	
	</delete>
	
	
	<select id="list" resultType="ReplyDTO">
	
	
	SELECT * FROM tbl_reply WHERE bno = #{bno} ORDER BY rno ASC
	
	
	</select>
	
	
	<insert id="insert">
	
	INSERT INTO tbl_reply(rno, bno, replyer, replyText)
	VALUES(seq_reply_rno.NEXTVAL, #{bno}, #{replyer}, #{replyText})
	
	
	
	</insert>
  
  
</mapper>