<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns="http://xmlns.jcp.org/xml/ns/javaee"
   xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
   version="4.0">
   <display-name>GetIntParamEx</display-name>
   <welcome-file-list>
      <welcome-file>index.html</welcome-file>
      <welcome-file>index.htm</welcome-file>
      <welcome-file>index.jsp</welcome-file>
      <welcome-file>default.html</welcome-file>
      <welcome-file>default.htm</welcome-file>
      <welcome-file>default.jsp</welcome-file>
   </welcome-file-list>


	<context-param>
		<param-name>url</param-name>
		<param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
		
	</context-param>
	
	<context-param>
	 	<param-name>user</param-name>
		<param-value>dw</param-value>
	</context-param>
	
	
	
   <servlet>
      <servlet-name>test1</servlet-name>
      <servlet-class>kr.co.dw.Test1</servlet-class>

      <init-param>
         <param-name>id</param-name>
         <param-value>teacheryo</param-value>

      </init-param>

      <init-param>
         <param-name>pw</param-name>
         <param-value>1111</param-value>

      </init-param>

   </servlet>

   <servlet-mapping>
      <servlet-name>test1</servlet-name>
      <url-pattern>/test1</url-pattern>
   </servlet-mapping>

   <servlet>
      <servlet-name>test2</servlet-name>
      <servlet-class>kr.co.dw.Test2</servlet-class>

      <init-param>
         <param-name>id</param-name>
         <param-value>teacheryo</param-value>

      </init-param>

      <init-param>
         <param-name>pw</param-name>
         <param-value>1111</param-value>

      </init-param>

   </servlet>

   <servlet-mapping>
      <servlet-name>test2</servlet-name>
      <url-pattern>/test2</url-pattern>
   </servlet-mapping>
</web-app>